[Unit]
Description=Apply Bluewhale flatpak overrides
ConditionPathExists=/usr/libexec/bluewhale/apply-flatpak-overrides.sh

[Service]
Type=oneshot
ExecStart=/usr/libexec/bluewhale/apply-flatpak-overrides.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target