[Unit]
Description=Devbox Automatic Update Trigger
Documentation=https://www.jetify.com/devbox/docs/

[Timer]
RandomizedDelaySec=10m
OnBootSec=2m
OnCalendar=*-*-* 4:00:00
Persistent=true

[Install]
WantedBy=timers.target
